/* Styles for Earth AI mocks with Gemini form factor */
body {
	margin: 0px;
	font-family: "Google Sans", Arial, sans-serif;
}
.stamp {
	position: fixed;
	top: 12px;
	right: 12px;
	font-size: 16px;
	font-weight: 700;
	opacity: 0.4;
	color: #9334e6;
	text-transform: uppercase;
	z-index: 10;
}
body.popup {
	overflow: hidden;
}
body .popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
    align-items: center;
    justify-content: center;
	background-color: #131314;
	z-index: 11;
}
body.popup .popup {
	display: flex;
}
.chat {
	margin: 40px 16px 90px 16px;
	font-size: 16px;
	font-weight: 400;
	color: #1b1c1d;
	line-height: 28px;
}
.chat .prompt,
.chat .text,
.chat .plan,
.chat .map,
.map-legend,
.table,
.chart {
	margin-left: auto;
	margin-right: auto;
	max-width: 708px;
}
.chat .prompt {
	margin-top: 36px;
	margin-bottom: 16px;
	line-height: 24px;
}
.chat .prompt .bubble {
	width: calc(80%);
	max-width: max-content;
	margin-left: auto;
	text-align: right;
	padding: 12px 16px;
    border-radius: 24px 4px 24px 24px;
	background-color: #e9eef6;
}
.chat .text {
	margin-bottom: 12px;
}
.chat .plan {
	display: grid;
	grid-template-columns: 16px auto;
	column-gap: 8px;
	row-gap: 12px;
	margin-bottom: 16px;
}
.chat .plan .status {
	position: relative;
	top: 7px;
	left: 2px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #64686c;
}
.chat .plan .status.completed {
	top: 4px;
	left: 0px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
}
.chat .plan .status.completed::before {
    content: url("data:image/svg+xml; utf8, <svg width='14' height='14' xmlns='http://www.w3.org/2000/svg'><path d='M5.5 8.5L3.5 6.5L2 8L5.5 11.5L12 5L10.5 3.5L5.5 8.5Z' stroke='none' fill='white'/></svg>");
	position: relative;
	top: -5px;
	left: 1px;
}
.chat .plan .step {
	width: fit-content;
	line-height: 26px;
}
.chat .plan .step.get-data {
	color: #35978f;
	cursor: pointer;
}
.chat .plan .step.get-data .zippy {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 0px 8px 9px;
	border-color: transparent transparent transparent #35978f;
	position: relative;
	top: 2px;
	margin-right: 6px;
}
.chat .plan .step.get-data.expanded .zippy {
	display: inline-block;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 8px 0px 8px;
	border-color: #35978f transparent transparent transparent;
	position: relative;
	top: -1px;
	margin-right: 6px;
}
.chat .plan .step.get-data:hover {
	border: 1px dashed #35978f;
	margin: -1px;
}
.chat .plan .step.get-data .data-source,
.chat .plan .step.get-data .learn-more {
	display: none;
}
.chat .plan .step.get-data.expanded .data-source,
.chat .plan .step.get-data.expanded .learn-more {
	display: inline;
}
.chat .plan .step.get-data.expanded .data-source {
	color: #35978f;
}
.chat .plan .step.get-data.expanded .learn-more {
	color: #3c4043;
}
.chat .map {
	margin: 8px auto 32px auto;
	width: 100%; 
	height: 400px;
	border-radius: 8px;
}
.map-legend {
	width: fit-content;
	margin: -8px auto 16px auto;
	font-size: 14px;
	font-weight: 500;
}
.map-legend .title {
	text-align: center;
}
.map-legend .colors {
	height: 24px;
}
.map-legend .colors div {
	display: inline-block;
	width: 80px;
	height: 24px;
}
.map-legend .colors div:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.map-legend .colors div:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.map-legend .ticks {
	margin-top: -2px;
	height: 14px;
}
.map-legend .ticks div {
	display: inline-block;
	width: 80px;
	white-space: no-wrap;
	text-align: center;
	height: 14px;
}
.popup .map {
	width: 100vw;
	height: 100vh;
}
.popup .map .map-legend {
	position: absolute;
	left: 12px;
	bottom: -4px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.9);
	background: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
	padding: 8px 12px 12px 12px;
}
.popup .map .map-legend .title {
	margin-bottom: 4px;
}
.popup .map .map-legend .colors {
	margin-bottom: 5px;
}
.maximize-button, .close-button {
	position: absolute;
	width: 36px;
	height: 36px;
	border-radius: 18px;
    pointer-events: auto;
	cursor: pointer;
    user-select: none;
}
.maximize-button {
	top: 10px;
	right: 10px;
	background-color: rgba(51, 53, 55, 0.65);
}
.maximize-button::before {
    content: url("data:image/svg+xml; utf8, <svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M3 21V13H5V17.6L17.6 5H13V3H21V11H19V6.4L6.4 19H11V21H3Z' fill='white' fill-opacity='0.8'/></svg>");
	position: relative;
	top: 6px;
	left: 6px;
}
.maximize-button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}
.close-button {
	top: 12px;
	right: 12px;
	background-color: rgba(51, 53, 55, 0.65);
	z-index: 2;
}
.close-button::before {
    content: url("data:image/svg+xml; utf8, <svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19L5 17.6L10.6 12L5 6.4Z' fill='white' fill-opacity='1'/></svg>");
	position: relative;
	top: 6px;
	left: 6px;
}
.close-button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.popup .close-button {
	background-color: rgba(255, 255, 255, 0.9);
}
.popup .close-button::before {
    content: url("data:image/svg+xml; utf8, <svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='M5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19L5 17.6L10.6 12L5 6.4Z' fill='black' fill-opacity='1'/></svg>");
}
.table {
	width: fit-content;
	margin: 0px auto 32px auto;
	display: grid;
	font-size: 14px;
	line-height: 20px;
}
.table .header {
	font-weight: 500;
}
.table div {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	padding-right: 12px;
	border-bottom: 1px solid #9aa0a6;
}
.table div div {
	padding: 0;
	border: none;
}
.table div.value-with-bar {
	display: grid;
	grid-template-columns: 64px max-content;
}
.table div.value-with-bar div.bar {
	display: inline-block;
	height: 8px;
	margin-top: 7px;
	margin-right: 4px;
	border-radius: 0 4px 4px 0;
}
.table.two-columns {
	grid-template-columns: repeat(2, max-content);
}
.table.three-columns {
	grid-template-columns: repeat(3, max-content);
}
.chart {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	margin-bottom: 16px;
}
.metric {
	font-size: 14px;
	line-height: 20px;
	max-width: 54px;
	margin-bottom: 100px;
	text-align: center;
    align-self: center;
}
.timeseries-legend {
	display: flex;
	flex-wrap: wrap;
	row-gap: 6px;
	column-gap: 16px;
	max-width: 480px;
	margin: 8px auto 2px auto;
}
.timeseries-legend div {
	display: flex;
	height: 16px;
	align-items: center;
}
.timeseries-legend div .color {
	width: 18px;
	height: 6px;
	margin-right: 4px;
}
.timeseries-legend div .label {
	font-size: 14px;
	line-height: 16px;
	height: 16px;
	color: #202124;
	white-space: no-wrap;
}
a[href^="http://maps.google.com/maps"] {
	display: none !important;
}
a[href^="https://maps.google.com/maps"] {
	display: none !important;
}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display: none;
}
.gmnoprint div {
    background: none !important;
}
/* End */